@import url('https://ctalvio.github.io/Kaleidochromic/default_style.css');
:root {--accent: 0,98.63553000000002,149.94;}
:root {--rounding: 12px;}

.pageTitleWithDefaultLogo {
  background-image: url("https://github.com/its-Jaxx/Lumio/blob/main/Lumio.png") !important;

}
